@import url('./common.css');

/* Style for the feature info box */
#feature-info-box {
  width: fit-content;
  display: none;
  position: fixed;
  pointer-events: none;
  z-index: 1100;
  border-radius: 6px;
  padding: 4px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.5);
  backdrop-filter: blur(1px);
  /*-webkit-text-stroke: 0.3px black;*/
}
.feature-info-row {
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 4px;
  z-index: 1200;
  margin: 3px 1px 3px 1px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.7);
}
.feature-info-pos {
  width: 150px;
  font-weight: 700;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}
.feature-info-low {
  width: fit-content;
  text-align: center;
  padding-right: 5px;
  white-space: nowrap;
  font-weight: 500;
}
.feature-info-high {
  width: fit-content;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
}

/* Notes hover box */
#notes-hover-box {
  background: #333;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  white-space: pre-wrap;
  max-width: 200px;
}

/* Style for the procedure labels */
.procedure-icon { /* Default leaftlet marker, we do not want this */
  background: none;
  border: 0 !important;
  box-shadow: none !important;
}
.procedure-label{
  top: 5px;
  border-radius: 6px;
  padding: 4px;
  border: 2px solid;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--boxshadow-center);
}
.procedure-text {
  flex: 1; 
  margin: 0px;
  font-size: 12px;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.res-label{
  margin: 0px 2px 0px 2px;
}
/* AT OR ABOVE, display border on bottom */
.res-label.abv {
  border-bottom: 2px solid var(--textcolor-white-darker);
}
/* AT OR BELOW, display the border on top */
.res-label.blw {
  border-top: 2px solid var(--textcolor-white-darker);
}
/* AT, display both top and bottom */
.res-label.at {
  border-top: 2px solid var(--textcolor-white-darker);
  border-bottom: 2px solid var(--textcolor-white-darker);
}